.record-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: #7EC8E3;
    cursor: pointer;
    width: 40px; /* Adjust the width and height to match your desired size */
    overflow: hidden;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 3px #7EC8E3;
    transition: box-shadow 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .record-button:hover {
    box-shadow: 0 0 20px 3px #7EC8E3;
    transform: translateY(10%);
  }
  
  .record-button:active {
    box-shadow: 0 0 20px 3px #7EC8E3;
    transform: translateY(10%);
    animation: fadeOutIn 10s ease-out-in infinite;
  }
  
  .record-button.recording {
    cursor: pointer;
    box-shadow: 0 0 10px 3px red;
  }
  
  .button-container{
    background-color: transparent;
    border: none;
  }
  
  .spinner-gif {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
    width: 260%;
    opacity: 0.2
  }
  
  .spinner-gif:active {
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
  }
  
  .spinner-gif:not(:active) {
    opacity: 0.2;
    transition: opacity 1s ease-in-out;
  }
  
  .image-container {
      height: 75vh;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .image-border {
    cursor: pointer;
    width: 50vh;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    animation: scaleAnimation 2s forwards;
    transform-origin: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .image-border:hover {
    transform: translateY(20%);
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  
  @keyframes fadeOutIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
    
  @media (max-width: 767px) {
    .image-border{
      width: 80%
    }
  }